<% provide(:title, "密码重置")%>

<div class="form-body">
  <%= form_for @user, url: password_reset_path(params[:id]), html: { class: 'form-horizontal' } do |f| %>
 
  <% unless @user.errors.blank? %>
      <div class="alert alert-danger">
        <ul class="list-unstyled">
          <% @user.errors.messages.values.flatten.each do |error| %>
            <li><i class="fa fa-exclamation-circle"></i> <%= error %></li>
          <% end -%>
        </ul>
      </div>
  <% end -%>

  <%= hidden_field_tag :email, @user.email %>
   <div class="form-group">
      <label for="title" class="col-sm-2 control-label">密码</label>
      <div class="col-sm-5">
        <%= f.password_field :password, class: "form-control" %>
      </div>
   </div>

   <div class="form-group">
      <label for="title" class="col-sm-2 control-label">密码确认</label>
      <div class="col-sm-5">
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
   </div>

   <div class="form-group">
     <div class="col-sm-offset-2 col-sm-8">
        <%= f.submit "重置密码", class: "btn btn-default" %>
     </div>
   </div>
  <% end -%>
</div>
