<li role="presentation"><a href="<%= details_user_path(@user) %>">个人信息</a></li>
<li role="presentation"><a href="<%= topics_user_path(@user) %>">话题</a></li>
<li role="presentation"><a href="<%= replies_user_path(@user) %>">回帖</a></li>
<li role="presentation"><a href="<%= collections_user_path(@user) %>">收藏</a></li>
<li role="presentation"><a href="<%= following_user_path(@user) %>">正在关注</a></li>
<li role="presentation"><a href="<%= followers_user_path(@user) %>">关注者</a></li>
