<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation", class="<%= 'active' if action_name == 'index' %>"><a href="<%= root_path %>">最新</a></li>
    <li role="presentation", class="<%= 'active' if action_name == 'hot' %>"><a href="<%= hot_path %>">最热</a></li>
    <li role="presentation", class="<%= 'active' if action_name == 'cold' %>"><a href="<%= cold_path %>">最冷</a></li>
  </ul>
</div>
</br>
