<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= gravatar_for current_user %></br>
      <a href="http://gravatar.com/emails" target=_blank>改变头像</a></br>
      <%= current_user.name %></br>
      <%= current_user.admin? ? "身份:管理员" : "普通用户" %>
    </div>
    <div class="col-md-10">
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>用户名</th>
          <th>邮件</th>
          <th>是够激活</th>
          <th>是否管理员</th>
          <th>查看</th>
          <th>删除</th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.activated? ? "已经激活" : "未激活" %></td> 
            <td><%= user.admin? ? "管理员" : "普通用户" %></td>
            <td><%= link_to "用户详情", admin_user_path(user) %></td>
            <td>
              <% if current_user.admin? && ! current_user?(user) %>
                  <%= link_to "删除用户", admin_user_path(user), method: :delete, data: { confirm: "are you sure?"}%>  
              <% end %>
            </td>
          </tr>
         <% end %>
      </table>
      <%= paginate @users%>
    </div>
  </div>
</div>
