<% @topics.each do |topic| %>
<ul class="article">
  <li>
    <div class="user_img">
      <img src="https://l.ruby-china.org/user/avatar/13200.jpg!lg" alt="">
    </div>
    <div class="article_msg">
      <div class="heading">
        <a href="#">
          <span><%= topic.category.name %></span>
          <%= link_to topic.title, topic_path(topic) %>
        </a>
      </div>
      <div class="info">
        <%= link_to "#{topic.user.name}", user_path(topic.user)%>
        <% unless topic.comments_count == 0 %>
          <span>
            • 最后由
            <%= link_to "#{topic.comments.last.user.name}", user_path(topic.comments.last.user) %>
           <span><%= time_ago_in_words(topic.comments.last.created_at) %>前回复</span>
             </span>
           <% else %>
             • 发表于<%= time_ago_in_words(topic.created_at) %>前
           <% end %>
      </div>
    </div>
    <div class="article_reply">
      <a href="#"><%= topic.comments_count %></a>
    </div>
  </li>
</ul>
<% end %>
<%= paginate @topics %>
